section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60vh;
  margin: 0.3rem 0;
  background: white;
  border-radius: 1rem;
  padding: 1rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.container h3 {
  color: coral;
  text-align: center;
}

.person_list{
  text-align: center;
}

.person img {
  text-align: center;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  
}

.person img:hover{
  transform: scale(0.95);
}

.person {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 0.7rem;
  padding-top: 0.3rem;
  background-color:rgb(237, 231, 224)
  

}

 button {
  color: white;
  display: block;
  width: 50%;
  border-color: transparent;
  background: darkmagenta;
  margin: 1rem auto 0 auto;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border-radius: 10px;
  cursor: pointer;
}

.value {
   color: coral;
  text-align: center;
  font-size: 2rem;
  margin-top: 0.5rem;
}

/*Picture Component CSS*/

.resim{
  display: flex;
  justify-content: space-evenly;
}

.resim h6{
  text-align: center;
  font-size: 0.95rem;

  }

.pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px 1px;
  width: 100rem;
  margin-top: 0.5rem;
  text-align: center;
}

.pic:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

@media screen and (max-width: 768px) {
  .resim {
    display: block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
   
  }
}